*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(90deg, aqua 0%, blue 100%) ;
    display: flex;
    justify-content: center;
}


.container{
    margin-top: 8%;
    height: 500px;
    width: 350px;
    padding: 30px 40px;
    background: linear-gradient(90deg, blue 0%, aqua 10);
    border-radius: 50px;
    box-shadow: 10px 10px 20px  rgba(255, 255, 255, 0.5), -10px -10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;*/
}

h2{
    text-align: center;
    font-size: 1.8rem;
    padding: 10px;
    color: white;
}

label{
    font-size: 1.2rem;
    color: white;
    padding: 5px;
}

input{
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-color: lightcyan;
    color: grey;
    font-size: .8rem;
}

#showpass{
    height: 15px;
    width: 15px;
}


#sbtn{
    background-color: blue;
    padding: 20px;
    font-size: 1.2rem;
    color: white;
}

#sbtn:hover{
    color: black;
    background-color: white ;
}

p{
    height: 20px;
    width: 50px;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}

p:hover{
    color: black;
    background-color: white ;
}

#rbtn{
    background-color: blue;
    padding: 15px;
    font-size: 1.2rem;
    color: white;
}

#rbtn:hover{
    color: black;
    background-color: white ;
}

#Signup{
    display: none;
}